{% extends 'layout.html' %} {% block page %}
<div class="container">
	<div class="type-container">
		<a class="btn btn-primary" type="button" href="{% url 'questionChartOfWeek' %}">Soru Sayısı</a>
		<a href="{% url 'timeChartOfWeek' %}" class="btn btn-primary" type="button"
			>Ders Çalışma Süresi</a
		>
	</div>
	<div class="period-container mt-3">
		<a class="btn btn-primary" type="button" href="{% url 'timeChartOfWeek' %}">Haftalık</a>
		<div class="lead text-white font-weight-bold">{{ date }}</div>
		<a href="{% url 'timeChartOfMonth' %}" class="btn btn-primary" type="button">Aylık</a>
	</div>
</div>

<canvas
	id="week-time-chart"
	width="1100"
	height="700"
	class="mt-3"
	data-url="{% url 'timeCountWeek' %}"
></canvas>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
	$(document).ready(function () {
		var $questionCount = $("#week-time-chart");
		$.ajax({
			method: "GET",
			url: $questionCount.data("url"),
			success: function (data) {
				console.log(data);
				var ctx = $questionCount[0].getContext("2d");

				new Chart(ctx, {
					type: "bar",
					data: {
						labels: ["Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi", "Pazar"],
						datasets: [
							{
								label: "Dakika",
								data: data.data,
								backgroundColor: "gray",
							},
						],
					},
					options: {
						responsive: true,
						legend: {
							position: "top",
						},
						title: {
							display: true,
							text: "Günlük Çalışma Süresi Grafiği",
						},
					},
				});
			},
			error: function (error_data) {
				console.log(error_data);
			},
		});
	});
</script>
{% endblock %}
