{% extends 'layout.html' %}
{% load static %}
{% block page %}


        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
                <div class="card">


                    <form method='POST' action="{% url 'editPhoto' photo.id %}" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group m-3">
                            <label>Title</label>
                            <input required name="title" type="text" placeholder="Enter a Title"
                                class="form-control" value="{{ photo.title }}">
                        </div>

                        <div class="form-group m-3">
                            <label>Description</label>
                            <input required name="description" type="text" placeholder="Enter a description"
                                class="form-control" value="{{ photo.description }}">
                        </div>

                        <div class="form-group m-3">
                            <label>Select a area</label>
                            <select name="area" class="form-control">
                                <option value='none'>Select a area...</option>

                                {% for area in areas %}
                                        <option value='{{area.id}}' {% if area.id == photo.area.id %}selected{% endif %}>{{area.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group m-3">
                            <label>Select a lesson</label>
                            <select name="lesson" class="form-control">
                                <option value='none'>Select a lesson...</option>

                                {% for lesson in lessons %}
                                    <option value='{{lesson.id}}'{% if lesson.id == photo.lesson.id %}selected{% endif %}>{{lesson.name}}</option>
                                {% endfor %}
                            </select>
                        </div>


                        <div class="form-group m-3">
                            <label>Select a status</label>
                            <select name="status" class="form-control">
                                <option value='none'>Select a status...</option>

                                {% for status in statues %}
                                <option value='{{status.id}}' {% if status.id == photo.status.id %}selected{% endif %}>{{status.name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <button type='submit' class="btn btn-primary m-3">Submit</button>

                    </form>
                </div>
            </div>
        </div>

{% endblock %}